
body {
  margin: 0;
  padding: 0px;
}
.loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-30%);
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.map-class{
  cursor:grab;
  position: relative;
  z-index: 1;
}
.map-class:active{
  cursor:grabbing;
}
.upper-div{
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-60deg,rgb(67, 154, 160), rgb(94, 157, 240));
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;

}
.upper-div h1{
  font-size: 41px;
}
.query-ip{
display: flex;
}
.query-ip input{
  padding: 10px 10px;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  border: 1px solid grey;
  font-size: 16px;
  width: 300px;
}
.query-ip button{
  padding: 10px 10px;
  border-radius: 0px 4px 4px 0px;
  outline: none;
  border: 1px solid grey;
  font-size: 16px;
  cursor: pointer;
}
.location-info{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid rgb(170, 170, 170);
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 15vh;
  background-color: #fff;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  cursor:inherit;
}

.location-info-box{
  text-align: center;
}
.location-info-box h3{
  margin: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.507);
  color: rgb(0, 4, 255);
}